# Deep Learning
--extra-index-url https://download.pytorch.org/whl/cu118
torch>2.5.0
lightning>=2.5.0
accelerate>=1.2.1
transformers>=4.48.0
sentencepiece
tensorboard
datasets

# Metrics
torchmetrics
scikit-learn
seqeval

# Server
Flask
Flask-Classful

# Utils
importlib-metadata

# Manual install
#deepspeed==0.15.4
#chrisbase>=0.5.7
#chrisdata>=0.5.0
#progiter>=2.0.0
